.management {
  width: 100%;
  margin-top: 50px;
  align-self: center;
  border: solid 2px #000;
}

.management-title {
  border-bottom: solid 2px #000;
  padding: 0 10px 0 10px;
}

.management-form {
  padding: 0 10px 10px 10px;
  border-bottom: dashed 2px #000;
}

.management-form-input-container {
  display: flex;
  flex-direction: column;
}

.form-input {
  margin-bottom: 5px;
  text-align: left;
  font-size: medium;
}

.button-container {
  margin-top: 5px;
}

.button {
  width: 50%;
  margin-left: 5px;
  border: solid 1px #000;
  color: #000;
  background-color: #fff;
}

.button:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.management-list {
  padding: 0 10px;
  height: 100%;
}

.management-list-item {
  width: 100%;
  display: flex;
  border-bottom: solid 1px;
  margin: 10px 0;
  padding-bottom: 10px;
}

.management-list-item-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.management-list-item-input {
  margin-bottom: 5px;
  text-align: left;
  font-size: medium;
}

.label {
  text-align: left;
  font-size: small;
}

.management-list-options {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 10px;
}

.management-list-options-button {
  width: 100%;
}

textarea {
  resize: none;
}
